@charset "UTF-8";
html, body, div, object, iframe, img, table, tbody, tfoot, thead, td, th, tr form, label, legend, header, footer, nav, article, section, aside, main { margin: 0; padding: 0; border: 0; vertical-align: baseline; background: transparent; }

html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; width: 100%; height: 100%; }

body { width: 100%; height: 100%; }

article, aside, footer, header, nav, section, figcaption, figure, main { display: block; }

input:focus, button:focus, select:focus, textarea:focus { outline: none; }

table { border-collapse: collapse; border-spacing: 0; }

input, select, textarea { font-family: sans-serif; font-size: 100%; line-height: 1.15; margin: 0; }

button { font-family: sans-serif; font-size: 100%; line-height: 1.15; margin: 0; cursor: pointer; }

input[type="button"] { cursor: pointer; }

* { box-sizing: border-box; }

.clear { clear: both; font-size: 0; }

.clearfix::after { clear: both; content: ""; display: table; }

img, iframe { max-width: 100%; height: auto; }

a { background-color: transparent; -webkit-text-decoration-skip: objects; }

img { border-style: none; }

body { box-sizing: border-box; font-size: 14px; line-height: 1.3; margin: 0px; padding: 0px; background: #f3f3f3; }

h1, h2, h3, h4, h5, h6, b, p { margin-top: 0; }

.container { max-width: 1200px; padding: 0 13px; margin: 0 auto; }

.container--flex--around { display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; justify-content: space-around; flex-wrap: wrap; }
@media screen and (max-width: 983px) { .container--flex--around { justify-content: center; } }

.info__item--2 { max-width: 531px; }

.container--flex--center { display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; align-content: center; justify-content: center; flex-wrap: wrap; }

.header { width: 100%; height: 80px; background-color: #76c7c0; position: relative; }

.header::after { content: ""; position: absolute; display: inline-block; height: 12px; width: 100%; left: 0px; bottom: 0px; background-image: url("./img/header_BG.png"); background-repeat: repeat-x; }

.header__logo { color: #FFF; font-family: Open Sans; font-size: 30px; font-weight: 700; line-height: 75px; float: left; text-transform: uppercase; text-decoration: none; }

.header__logo--sm { font-size: 25px; font-weight: 400; text-transform: lowercase; margin-left: 5px; }

.header__nav { float: right; display: inline-block; list-style: none; padding: 0px 14px 0px 0; margin: 0; line-height: 83px; }
@media screen and (max-width: 632px) { .header__nav { position: absolute; right: 0px; padding: 30px 12px 0px 12px; text-align: right; border-top: 30px solid transparent; } }

@media screen and (max-width: 632px) { .header__nav::before { font-family: "FontAwesome"; content: ""; font-size: 29px; position: absolute; color: #fff; right: 30px; top: -33px; width: 25px; height: 25px; border-radius: 5px; } }

.header__nav-element { display: inline-block; padding: 0px 0px 0 15px; }
@media screen and (max-width: 632px) { .header__nav-element { display: none; padding: 0 10px 0 0px; line-height: 32px; background: #62a29e; border-bottom: 1px dashed #ccc; } }

.header__nav-link { display: inline-block; color: #fff; font-family: Open Sans; font-size: 14px; font-weight: 600; line-height: 17px; text-transform: uppercase; text-decoration: none; height: 30px; text-align: center; line-height: 30px; padding: 0 15px 0 13px; }
@media screen and (max-width: 632px) { .header__nav-link { font-size: 18px; } }

.header__nav-link:hover { background: #62a29e; border-radius: 5px; border-bottom: 3px solid #528b86; }

@media screen and (max-width: 632px) { .header__nav:hover .header__nav-element { display: block; } }

.promo { width: 100%; height: 500px; }

.promo__bg { width: 100%; height: auto; min-height: 250px; z-index: -10; position: absolute; }

.promo__MainText { max-width: 346px; display: block; color: #fff; font-family: Open Sans; font-size: 50px; font-weight: 700; line-height: 50px; background-color: #e2534b; border-radius: 5px; margin: 0 auto 11px; }
@media screen and (max-width: 632px) { .promo__MainText { font-size: 25px; } }

.promo__bottomText { display: block; color: #fff; font-family: Open Sans; font-size: 16px; font-weight: 400; max-width: 472px; line-height: 36px; border-radius: 5px; background: rgba(0, 0, 0, 0.4); padding: 0 40px; margin: 0 auto 11px; line-height: 26px; }

.promo__boxText { max-width: 500px; text-align: center; align-self: center; margin: -59px 0 0 0; padding: 0 10px; }
@media screen and (max-width: 983px) { .promo__boxText { margin: -189px 0 0 0; } }
@media screen and (max-width: 632px) { .promo__boxText { margin: 59px 0 0 0; align-self: flex-start; } }

.service { background-color: #ececec; border-radius: 5px; overflow: hidden; padding: 0 51px 0 40px; margin-bottom: 50px; }

.service__mainText { color: #7f8c8c; font-family: Open Sans; font-size: 30px; font-weight: 600; margin: 17px 0 2px 0; }

.service__bottomText { color: #777; font-family: Open Sans; font-size: 13px; font-weight: 400; margin: 0 0 24px 0; }

.service__btn { float: right; display: block; text-align: center; width: 202px; height: 53px; line-height: 53px; background-color: #e8645a; border-radius: 5px; color: #fff; border-bottom: 4px solid #e2534b; text-transform: uppercase; color: white; font-family: Open Sans; font-size: 20px; font-weight: 600; text-decoration: none; margin: -76px 0 20px 0px; }
@media screen and (max-width: 1154px) { .service__btn { margin: 0; } }

.carts { margin: 0 0 46px 0; }

.carts__item { width: 270px; height: 310px; background-color: #FFF; padding: 52px 17px 80px; text-align: center; position: relative; border-radius: 5px; border-bottom: 4px solid #e5e6e6; margin-bottom: 30px; }

.carts__icon { text-decoration: none; }

.fa:hover { color: #e2534b; }

.fa { display: block; font-family: "FontAwesome"; font-size: 58px; margin: 0 0 31px 0; color: #62bdbd; }

.carts__mainText { color: #7f8c8c; font-family: Open Sans; font-size: 16px; font-weight: 700; line-height: 19px; text-transform: uppercase; margin: -21px 0 26px 0; }

.carts_bottomText { color: #777; font-family: Open Sans; font-size: 13px; font-weight: 400; line-height: 21px; }

.carts__btn { position: absolute; bottom: -26px; left: 34px; display: block; text-align: center; width: 202px; height: 53px; line-height: 53px; background-color: #76c7c0; border-radius: 5px; color: #fff; border-bottom: 4px solid #62b9b0; text-transform: uppercase; color: white; font-family: Open Sans; font-size: 20px; font-weight: 600; text-decoration: none; }

.carts__btn:hover { display: block; text-align: center; width: 202px; height: 53px; line-height: 53px; background-color: #e8645a; border-radius: 5px; color: #fff; border-bottom: 4px solid #e2534b; text-transform: uppercase; color: white; font-family: Open Sans; font-size: 20px; font-weight: 600; text-decoration: none; }

.info { padding: 65px 0 8px; position: relative; background: #ececec; }

.info::before { position: absolute; height: 19px; width: 100%; top: 0; content: ""; background-image: url("./img/info_BG.png"); background-repeat: repeat-x; }

.info__textBox { max-width: 680px; margin: 0 auto 56px; padding: 15px; }

.info_MainText { color: #e1524b; font-family: Open Sans; font-size: 40px; font-weight: 600; line-height: 48px; text-transform: uppercase; margin: 0 auto; text-align: center; }

.info_bottomText { color: #777; font-family: Open Sans; font-size: 13px; font-weight: 400; line-height: 21px; }

.info__mainText--row { color: #7f8c8c; font-family: Open Sans; font-size: 16px; font-weight: 700; line-height: 19px; margin-bottom: 30px; }

.info_item { padding: 0 10px; margin: 0 0 15px 0; }

.info__text__item--1 { color: #777; font-family: Open Sans; font-size: 13px; font-weight: 400; line-height: 26px; margin: 0; }

.info__text__item--1::before { content: ""; color: #e1524b; font-family: "FontAwesome"; font-size: 12px; font-weight: 400; padding-right: 5px; }

.info__text__item--2 { font-family: Open Sans; font-size: 13px; font-weight: 400; line-height: 25px; color: #777; }

.info__text__item--3 { width: 270px; height: 144px; background-color: #f8f8f8; color: #777; font-family: OpenSans; font-size: 13px; line-height: 25px; font-style: italic; font-weight: 400; padding: 16px 20px 20px 17px; position: relative; border-radius: 5px; margin: -5px 0 6px 0; }

.info__text__item--3::before { content: ""; width: 0; height: 0; border-style: solid; border-width: 0 24px 24px 0; border-color: transparent #f8f8f8 transparent transparent; position: absolute; bottom: -24px; left: 19px; }

.info__item--3--name { padding-left: 60px; }

.footer { padding: 63px 0 0; background-color: #76c7c0; position: relative; }

.footer::before { position: absolute; height: 19px; width: 100%; top: 0; content: ""; background-image: url("./img/info_BG.png"); background-repeat: repeat-x; opacity: 0.2; }

.footer__item { max-width: 377px; margin: 0 15px; }

.footer__item__mainText { display: inline-block; opacity: 0.5; color: #000; font-family: Open Sans; font-size: 30px; font-weight: 700; line-height: 36px; text-transform: uppercase; margin-bottom: 20px; }

.footer__item__MainText--1 { opacity: 0.5; color: black; font-family: Open Sans; font-size: 25px; font-weight: 400; line-height: 30px; }

.footer__item__bottomText { color: #fff; font-family: Open Sans; font-size: 13px; font-weight: 400; line-height: 23px; }

.footer__item--2__MainText { opacity: 0.5; color: black; font-family: Open Sans; font-size: 20px; font-weight: 700; line-height: 24px; margin: 8px 0 18px 0; }

.footer__item--2__bottomText { color: white; font-family: Open Sans; font-size: 13px; font-weight: 400; line-height: 23px; vertical-align: middle; margin: 0; }

.footer__item--2__bottomText--2 { color: white; font-family: Open Sans; font-size: 20px; font-weight: 600; font-style: italic; line-height: 36px; padding: 0 0 0 10px; }

.footer__item--3__MainText { opacity: 0.5; color: black; font-family: Open Sans; font-size: 20px; line-height: 24px; font-style: italic; font-weight: 400; }

.footer__item--3__MainText--3 { display: inline-block; opacity: 0.5; color: black; font-family: Open Sans; font-size: 20px; line-height: 24px; font-weight: 700; margin: 6px 0 25px 0; }

.footer_item--3__link { display: block; max-width: 345px; height: auto; text-decoration: none; margin-bottom: 120px; }

.footer__item--3__img { display: inline-block; width: 70px; height: 70px; border-radius: 5px; float: left; margin-right: 15px; }

.footer__item--3__text { color: white; font-family: Open Sans; font-size: 13px; font-weight: 400; line-height: 20px; margin: 0px 0 0px 0; }

.footer__item--3__date { display: inline-block; opacity: 0.5; color: black; font-family: Open Sans; font-size: 13px; font-weight: 400; line-height: 20px; }

.footer__low { background-color: #dadada; }

.footer__low__text { color: #777; font-family: Open Sans; font-size: 12px; font-weight: 400; line-height: 22px; padding: 17px 0; }
