body {
  margin: 100px;
  padding: 0;
  font-family: sans-serif;
}
.Carts{
  padding: 15px;
  display: flex;
  justify-content: space-around;
  background-color: rgba(50, 50, 170, 0.2);
}
.Item{
  padding: 5px;
  width: 200px;
  height: auto;
  border: 2px solid grey;
  border-radius: 3px;
  box-shadow: 0px 3px 2px 3px #ccc;
}
.Item p{
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.Item span{
  font-size: 14px;
  text-align: center;
  color: gray;
}
